@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body {

    font-family: 'Poppins', sans-serif;
    margin:0;
}

main {

    display: grid;
    text-align: center;
}

section {
    // position: relative;
    min-height: 100vh;
}

p {
    margin: 1em;
    font-size: .8em;
    color: #444;
}
h3 {
    color: #626262;
}

.source-link {
    color: #507a33;
}

a{
    text-decoration: none;
}

ul {
    margin: 3em;
   // padding: 3em;

    li {
        list-style-type: none;
        padding: 1em;
      
    }
    // @for $i from 1 to 10 {
    //     @if $i % 2 != 0 {  
    //         li:nth-child(#{$i}) {
    //             background-color: rgb(230, 230, 230);
    //         }
    //     }
    // }
    li:nth-child(odd) {
        background-color: rgb(230, 230, 230);
    }
        
}

#home {
    position: relative;
    .masthead{
        background-color: white;
        grid-auto-rows: 1fr;
    }
    .welcome:after {

        content:'';
        background: url('./assets/img3.jpg') no-repeat fixed center/100%;
        position: absolute;
        opacity: 0.6;
        filter: blur(2px);

        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .welcome {
        grid-row: 2/3;
    }

    // background-color: #548132;
    color: white;
    // rgba(255,255,255,0.5),

    img {
        max-width:200px;
        margin-top: 2em;
    }
    h1{
        text-transform: uppercase;
        color: #e37222;
        font-size: 2.5em;
    }

}

.list-item-text {
    font-size: 0.8em;
}
#gallery {

    img {
        max-width: 250px;
        max-height: 150px;
        padding: 5px;
        transition: transform .1s;
    }
    img:hover {
        transform: scale(1.05);
    }

}
