@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/* VARIABLES */
/* Global */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  overflow-x: hidden;
}

main {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

section, header {
  min-height: 100vh;
}

section {
  padding: 30px 0;
}

p, address {
  margin: 1em;
  font-size: 1em;
  color: #444;
}

h1, h2, h3, h4 {
  color: #626262;
  margin: 1em .5em;
}

h1 {
  font-size: 2em;
}

.source-link {
  color: #548132;
}

a {
  text-decoration: none;
}

.list-primary {
  margin: 1em;
  padding: 0;
}

.list-primary li {
  list-style-type: none;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 20px;
  -ms-grid-columns: 2fr 4fr;
      grid-template-columns: 2fr 4fr;
  text-align: left;
}

.list-primary li strong {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.list-primary li span {
  -ms-grid-column: 2;
  -ms-grid-column-span: 8;
  grid-column: 2/10;
}

.list-primary li:nth-child(odd) {
  background-color: #e6e6e6;
}

.list-primary li:nth-child(even) {
  background-color: white;
}

/* Navigation */
nav {
  text-align: right;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

nav li {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

nav li a:hover {
  color: #e37222;
}

nav li:first-child {
  font-size: 1.5em;
}

nav .logo {
  height: 35px;
  position: absolute;
  left: 0;
  margin: 5px 10px;
  display: none;
}

.nav-panel {
  background: #fff;
  -webkit-box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 7px -2px rgba(0, 0, 0, 0.5);
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger, .navigation {
  text-align: center;
  -webkit-transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
  transition: transform .3s .1s ease-in-out, visibility 0s .4s, -webkit-transform .3s .1s ease-in-out;
}

.hamburger--active {
  -webkit-transform: translateX(-250px);
          transform: translateX(-250px);
}

.hamburger__box {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #545353;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .1s .2s ease-in-out;
  transition: background-color .1s .2s ease-in-out;
}

.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #545353;
  position: absolute;
  content: '';
  right: 0;
  -webkit-transition: -webkit-transform .2s .2s ease-in-out;
  transition: -webkit-transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out;
  transition: transform .2s .2s ease-in-out, -webkit-transform .2s .2s ease-in-out;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner:before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  height: 100vh;
  width: 250px;
  background-color: #545353;
  position: absolute;
  top: 0;
  right: 0;
  visibility: hidden;
  -webkit-transform: translateX(250px);
          transform: translateX(250px);
}

.navigation--active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  transition: visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  transition: transform .3s .1s ease-in-out, visibility 0s 0s, -webkit-transform .3s .1s ease-in-out;
  visibility: visible;
}

.navigation__list {
  margin-top: 50px;
  list-style: none;
  padding: 0;
}

.navigation__item {
  margin-bottom: 20px;
}

.navigation__item a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Buttons */
.btn-main, .btn-secondary {
  cursor: pointer;
  height: 44px;
  padding: 13px 31px;
  border-radius: 4px;
}

.btn-main {
  background-color: #548132;
  border: 2px solid #548132;
}

.btn-main a {
  color: #fff;
  text-transform: uppercase;
}

.btn-main a span {
  font-weight: 600;
  font-size: 1em;
  font-family: Poppins;
  letter-spacing: .1em;
}

.btn-main:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #548132;
}

.btn-main:hover a {
  color: #548132;
}

.btn-secondary {
  background-color: #808285;
  border: 2px solid #808285;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  font-family: Poppins;
  letter-spacing: .1em;
  display: inline-block;
  margin-top: 15px;
}

.btn-secondary:hover {
  background-color: #fff;
  border: 2px solid #e37222;
  color: #e37222;
}

/* sections */
#home {
  position: relative;
  color: #fff;
}

#home .main-img {
  max-width: 100%;
  max-height: 300px;
  padding: 30px;
  border: 10px solid #808285;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#home .main-img:hover {
  padding: 0;
  height: 340px;
}

#home .photo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  z-index: 2;
  position: relative;
  height: 360px;
}

#home .welcome {
  background-color: #f3f3f3;
  padding: 180px 0 50px;
  margin-top: -200px;
}

#home .logo {
  max-width: 200px;
  margin-bottom: 30px;
}

#home h1 {
  text-transform: uppercase;
  color: #e37222;
  font-size: 2.5em;
  margin-bottom: .3em;
}

#contact {
  padding-bottom: 0;
  position: relative;
  min-height: 120vh;
}

#contact ul {
  padding: 0;
  margin: 20px;
  list-style-type: none;
  text-align: left;
}

#contact ul a {
  color: #444;
}

#contact .embed-map {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#contact .box-wrapper {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0 50px;
  margin: 30px 0;
}

#contact .contact-box {
  text-align: left;
  border-left: 10px solid #808285;
  border-bottom: 10px solid #808285;
  border-top: none;
  border-right: none;
  padding: 20px;
  height: 300px;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 10px;
}

#contact .contact-box + .contact-box {
  border-top: 10px solid #808285;
  border-right: 10px solid #808285;
  border-left: none;
  border-bottom: none;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-top: 0;
}

footer {
  background-color: #141618;
  min-height: 200px;
  width: 100%;
}

footer a {
  font-size: 2em;
  color: #fff;
}

footer .logo {
  height: 100px;
  width: 150px;
  margin: 10px;
}

.qr-code {
  width: auto;
  height: auto;
}

.box-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box" "box2"   "box3";
}

@media screen and (max-width: 767px) {
  .box {
    border-left: 10px solid #808285;
    border-bottom: 10px solid #808285;
    padding: 6%;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: box;
  }
  .box + .box {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box2;
    border-left: none;
    border-bottom: 10px solid #808285;
    border-right: 10px solid #808285;
    border-top: none;
  }
  .box:last-child {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: box3;
    border-left: 10px solid #808285;
    border-bottom: 10px solid #808285;
    border-right: none;
    border-top: none;
    margin-bottom: 50px;
  }
  .box:hover {
    border-left: 10px solid #e37222;
    border-bottom: 10px solid #e37222;
  }
  .box + .box:hover {
    border-right: 10px solid #e37222;
    border-bottom: 10px solid #e37222;
    border-left: none;
    border-top: none;
  }
  .box:last-child:hover {
    border-left: 10px solid #e37222;
    border-bottom: 10px solid #e37222;
    border-right: none;
  }
}

@media screen and (min-width: 768px) {
  .list-primary {
    margin: 2em;
  }
  .box-wrapper {
    grid-gap: 0;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
        grid-template-areas: ". box2" "box ." ". box3";
  }
  .box-wrapper .box {
    border: 10px solid #808285;
    padding: 6% 6% 8%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: box;
    margin: -8% -10% 10% 5%;
  }
  .box-wrapper .box + .box {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: box2;
    margin: 10% 5% 0 -10%;
  }
  .box-wrapper .box:hover {
    border: 10px solid #e37222;
  }
  .box-wrapper .box:last-child {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: box3;
    margin: -20% 5% 10% -10%;
  }
  #home .main-img {
    max-width: 100%;
    max-height: 400px;
  }
  #home .main-img:hover {
    height: 400px;
  }
  #home .photo-box {
    height: 400px;
  }
}

#gallery img {
  max-width: 250px;
  max-height: 150px;
  padding: 5px;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
}

#gallery img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  background-position: 50% 50%;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */